<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                <h1>Login</h1>
                <h6>Please enter email & password !!</h6>
                </div>
                <form [formGroup]="loginform" (ngSubmit)="LoginUser()">
                 
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <span class="btn btn-danger" *ngIf="loginform.controls['email'].dirty && loginform.hasError('required','email')">*Email is required.</span>

                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                            <span class="btn btn-danger" *ngIf="loginform.controls['password'].dirty && loginform.hasError('required','password')">*Password is required.</span>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <a routerLink="/signup">New User? Click to Signup!!</a>
            </div>
        </div>
    </div>
</div>
